body{
    margin:0;
    padding:0;
    background-image: url("../image/macOS-Mojave-MacBook-Pro.jpg");
}
.container{
    margin-top:20px;
}
.navbar{
    background-color:black;
    height:55px !important;
}
.header{
    text-align:center;
    color: rgb(255, 167, 0);
    margin-top:30px;
}
hr{
    background-color:rgb(255, 167, 0);
    height:2px;
    text-align:center;
    width:300px;
}
h3{
    color:rgb(255, 167, 0);
    padding-top:20px;
}
.project-text{
    margin-top:30px;
    background-color: black;
}
.project-text p{
    padding:30px;
    color:white;
}
.col-sm-6{
    margin:15px 0px;
    padding: 0;
}



.goback{
    background-color:black;
    height:60px;
    width:15px;
    position: fixed;
    display: inline-block;
    left:0;
    margin-top:30vh;
}
.goback-content{
    height:60px;
    width:40px;
    background-color:black;
    display: none;
    position: absolute;
    z-index: 1;
}
.goback:hover .goback-content{
    display:block;
}